In [1]:
import numpy as np
tab = np.array([1,2,3,4])
print(tab)
print(type(tab))

[1 2 3 4]
<class 'numpy.ndarray'>

In [2]:
print(tab.dtype)

int32

In [3]:
print(tab.ndim)
print(tab.shape)
print(tab.size)
print(tab.itemsize)
print(tab.data)

1
(4,)
4
4
<memory at 0x000001DD7F183708>

In [21]:
#Les tableaux peuvent être crées autrement

# Suite arithmétique de pas 1n

a = np.arange(start=0, stop=5, step=2)
print(a)

[0 2 4]

In [22]:
print(type(a))

<class 'numpy.ndarray'>

In [23]:
print(a.dtype)

int32

In [34]:
b = np.linspace(start=0, stop=12, num=7)
print(b)

[ 0.  2.  4.  6.  8. 10. 12.]

In [35]:
b=np.zeros(shape=4)
print(b)

[0. 0. 0. 0.]

In [39]:
b=np.ones(shape=5)
print(b)
print(type(b))
print(b.dtype)

[1. 1. 1. 1. 1.]
<class 'numpy.ndarray'>
float64

In [42]:
b=np.full(shape=4,fill_value='peter')
print(b)

['peter' 'peter' 'peter' 'peter']

In [49]:
b=10
a = np.array(b)
print(a)
a= 5
print(a)
print(b)

10
5
10

In [52]:
a = np.copy(b)
print(a)
a= 5
print(a)
print(b)
print(a)

10
5
10
5

In [58]:
a = np.asarray(b)
print(a)
b=10
print(b)print(a)

10
10
10

In [61]:
b=a.astype(float)
print(b)

10.0

In [ ]:
#Création d'un tableau fichier
data = np.loadtxt('./')